body {
    margin: 0;
    padding: 16px;
    min-height: 100vh;
    background: #ffc0cb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.valentines_card {
    position: relative;
    width: 90vw;
    max-width: 450px;
    height: 600px;
    transform-style: preserve-3d;
    transition: transform 1s;
    perspective: 2500px;
    cursor: pointer;
}

.valentines_card.open {
    transform: rotateY(180deg);
}

.front_card,
.inside_card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    padding: 16px;
    box-sizing: border-box;
    background-color: whitesmoke;
    text-align: center;
    box-shadow: 0 4px 8px #ff1493;
}

.inside_card {
    transform: rotateY(180deg);
}

.front_img,
.inside_img {
    width: 80%;
    margin: 20px auto;
    display: block;
}

.front_text,
.inside_text {
    color: #A60657;
    font-family: "Brush Script MT", cursive;
    font-size: 18px;
}

audio {
    display: block;
    margin: 15px auto;
    width: 80%;
}

html, body {
    overflow-y: auto;
}
